# Define binary file attributes.
# - Do not treat them as text.
# - Include binary diff in patches instead of "binary files differ."
*.sln     -text -merge diff
*.suo     -text -merge diff
*.vcxproj -text -merge diff
*.gif     -text -merge diff
*.gz      -text -merge diff
*.ico     -text -merge diff
*.jpeg    -text -merge diff
*.png     -text -merge diff